---
import Base from '../layouts/Base.astro';
---

<Base title="404" description="Page not found.">
  <pre class="log" style="margin-top: 3rem;"><span class="p">$ cat {'{'}this page{'}'}</span>
cat: no such file or directory <span class="amber">(404)</span>

try instead:
  <a href="/">~/home</a>   <a href="/blog/">~/blog</a>   <a href="/lab/">~/lab</a></pre>
</Base>
